{% extends "polls/includes/base.html" %}

{% block list_operation %}
{% include "polls/includes/list_operation.html" %}
{% endblock list_operation %}

{% block show_content %}
<div class="row">
    <div class="col-md-6 mb-3">
        {% include "equipment/includes/equipment_info.html" %}
    </div>
    <div class="col-md-6 mb-3">
        <div class="card" style="height: 420px;">
            <div class="card-body" id="line-chart">
            </div>
        </div>
    </div>
</div>

{% endblock show_content %}

{% block list_history %}
{% include "polls/includes/list_history.html" %}
{% endblock list_history %}

{% block script %}
{% load static %}
<script src="{% static 'equipment/js/echarts.min.js' %}"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var line_chart = echarts.init(document.getElementById('line-chart'));
    // 使用刚指定的配置项和数据显示图表。
    line_chart.setOption({{ linechart_data| safe }});

    window.addEventListener("resize", function () {
        line_chart.resize();
    });

    $("#button_modify_equipment").click(function () {
        console.log("click");
        var message_modify_equipment = $("#message_modify_equipment")
        $.ajax({
            url: "{% url 'equipment:modify_equipment' equipment.id %}",
            method: 'GET',
            dataType: 'JSON',
            data: $("#form_modify_equipment").serialize(),
            success: function (result, status) {
                console.log(result);
                if (result['Code'] == '100') {
                    message_modify_equipment.show().delay(1000).hide(500)
                } else {
                    alert("error: " + result['Code'] + '\n' + result['Message']);
                }
            },
            error: function (result) {
                alert("Data transmission error！");
            }
        });
    });
</script>
{% endblock script %}