{% extends "polls/includes/base.html" %}

{% block list_operation %}
{% include "polls/includes/list_operation.html" %}
{% endblock list_operation %}

{% block show_content %}
{% include "polls/includes/main.html" %}
{% endblock show_content %}

{% block script %}
{% load static %}
<script src="{% static 'equipment/js/echarts.min.js' %}"></script>
<script>
    function fetchData() {
        $.ajax({
            type: "GET",
            url: "{% url 'polls:get_server_info' %}",
            dataType: 'JSON',
            success: function (result) {
                // console.log(result)
                if (result['Code'] == '100') {
                    chart_gauge.setOption({
                        series: [{
                            radius: '100%',
                            type: 'gauge',
                            startAngle: 90,
                            endAngle: -270,
                            pointer: {
                                show: false
                            },
                            progress: {
                                show: true,
                                overlap: false,
                                roundCap: true,
                                clip: false,
                                itemStyle: {
                                    borderWidth: 1,
                                    borderColor: '#464646'
                                }
                            },
                            axisLine: {

                                lineStyle: {
                                    width: 25
                                }
                            },
                            splitLine: {
                                show: false,
                                distance: 0,
                                length: 10
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                show: false,
                                distance: 50
                            },
                            data: [{
                                value: result['Data']['cpu_percent'],
                                name: 'CPU',
                                title: {
                                    fontWeight: 'bolder',
                                    offsetCenter: ['0%', '-35%']
                                },
                                detail: {
                                    offsetCenter: ['0%', '-20%']
                                }
                            },
                            {
                                value: result['Data']['virtual_memory_percent'],
                                name: 'Virtual Memory',
                                title: {
                                    fontWeight: 'bolder',
                                    offsetCenter: ['0%', '10%']
                                },
                                detail: {
                                    offsetCenter: ['0%', '25%']
                                }
                            },],
                            title: {
                                fontSize: 16
                            },
                            detail: {
                                width: 50,
                                height: 15,
                                fontSize: 15,
                                color: 'auto',
                                borderColor: 'auto',
                                borderRadius: 20,
                                borderWidth: 1,
                                formatter: '{value}%'
                            }
                        }]
                    })
                } else {
                    alert("error: " + result['Code'] + '\n' + result['Message']);
                }
            }
        });
    }
    var chart_gauge = echarts.init(document.getElementById('chart_gauge'));
    window.addEventListener("resize", function () {
        chart_gauge.resize();
    });
    fetchData()
    setInterval("fetchData()", 1000);
</script>
{% endblock script %}