<div class="card">
    <div class="card-body">
      {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      {% endif %}
        <h4 class="card-title">{{ equipment.name }}</h4>
        <table class="table table-md">
            <thead>
                <tr>
                    <th>Value</th>
                    <th>Descript</th>
                    <th>Created Time</th>
                </tr>
            </thead>
            <tbody>
            {% for data in datas %}
                <tr>
                    <td>{{ data.value|floatformat:1 }}</td>
                    <td>{{ data.descript }}</td>
                    <td>{{ data.created_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% block paginator %} 
        {% include "polls/includes/paginator.html" %}
        {% endblock paginator %} 
    </div>
  </div>


