{% extends "account\includes\base.html" %}
{% block account %}
<div class="container  text-center" style="display: flex;">    
    <div class="card shadow-sm mx-auto rounded" style="margin-top: 15%; width: 380px;">
      <div class="card-body">
        {% if message %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <h3 class="card-title">更改密码</h3>
        <form action="{% url 'account:changepassword' %}", method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="InputPassword">原密码</label>
            <input name="password" type="password" class="form-control" id="InputPassword">
          </div>
          <div class="form-group">
            <label for="InputPassword">新密码</label>
            <input name="password" type="password" class="form-control" id="InputPassword">
          </div>
          <div class="form-group">
            <label for="InputPassword">确认密码</label>
            <input name="password" type="password" class="form-control" id="InputPassword">
          </div>
          <button type="submit" class="btn btn-primary btn-block">确定更改</button>
        </form>
      </div>
      <div class="card-footer"> 
        <a href="#"><small class="text-muted">忘记密码？请联系管理员</small></a>
      </div>
    </div>
</div>
{% endblock account %}