{% extends "polls/includes/base.html" %}
{% block show_content %}
<div class="container  text-center" style="display: flex;">    
    <div class="card shadow-sm mx-auto rounded" style="margin-top: 13%; width: 380px;">
        <div class="card-body">
            {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <h3 class="card-title">欢迎注册</h3>
            <form action="{% url 'account:register' %}" method="POST">
            {% csrf_token %}   
                <div class="form-group">
                    <label for="InputName">用户名</label>
                    <input name="username" type="text" class="form-control" id="InputNmae" aria-describedby="nameHelp">
                </div> 
                <div class="form-group">
                    <label for="InputEmail">邮箱地址</label>
                    <input name="email" type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="InputPassword1">密码</label>
                    <input name="password1" type="password" class="form-control" id="InputPassword1" placeholder="密码至少要有8位，最多16位">
                </div>
                <div class="form-group">
                    <label for="InputPassword2">确认密码</label>
                    <input name="password2" type="password" class="form-control" id="InputPassword2">
                </div>
                <div class="form-group">
                    {{ captcha_form.captcha.label_tag }}
                    {{ captcha_form.captcha }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </form>
            <div class="card-footer text-muted"> 
                <a href="{% url 'account:login'%}">已有账号？点击登陆</a>
            </div>
        </div>
    </div>
</div>
{% endblock show_content %}

{% block script %}
{% load static %}
<script src="{% static 'account/js/captcha.js' %}"></script>
{% endblock script %}