<div class="sidebar content-box" style="display: block;">
      <ul class="nav flex-column">
            <!-- Main menu -->
            <li {% if page_all_equipment %} class="current active" {% endif %}><a
                        href="{% url 'polls:all_equipment' %}"><i class="icon iconfont iconshebeikongzhi"></i> 全部设备</a>
            </li>
            <li {% if page_my_equipment %} class="current" {% endif %}><a href="{% url 'polls:my_equipment' %}"><i
                              class="icon iconfont iconjiankongshebei"></i> 我的设备</a></li>
            <li {% if page_charts %} class="current" {% endif %}><a href="{% url 'charts:index' %}"><i
                              class="icon iconfont iconzhizuotubiao"></i> 绘制图表</a></li>
            <li {% if page_list_history %} class="current" {% endif %}><a href="{% url 'polls:list_history' %}"><i
                              class="icon iconfont iconcaozuojilu"></i> 操作记录</a></li>
            <li {% if page_create_equipment %} class="current" {% endif %}><a
                        href="{% url 'polls:create_equipment' %}"><i
                              class="icon iconfont iconjiatianjiakuangxuanduoxuan-8"></i> 新增设备</a></li>
            <li {% if page_myaccount %} class="current" {% endif %}><a href="{% url 'account:index' %}"><i
                              class="icon iconfont iconwodezhanghao"></i> 我的账号</a></li>
            <li {% if page_about %} class="current" {% endif %}><a href="{% url 'polls:about' %}"><i
                              class="icon iconfont iconguanyu"></i> 关于</a></li>
      </ul>
</div>